@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "Literata", serif;
    background-color: #ffffff;
    font-size: 1.125vw;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 1.7em;
    align-items: center;
    width: 100%;
}

.preview {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 60em;
    max-height: 120vw;
    /* width: 40em; */
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF4D; 
}

.preview .imgPreview {
    position: absolute;
    width: 100%;
    height: 70em;
    background-image: url('../img/backPreview.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-size: contain; */
    z-index: 0;
    overflow: hidden;
}

.preview .contentTop {
    flex: 1 0 auto;
    background-color: #FFFFFF4D;
    display: flex;
    position: relative;
    z-index: 1;
}

.preview .contentTop .leftSide p {
    font-size: 11.3em;
    line-height: 0.8;
    position: relative;
    z-index: 1;
}

.preview .contentTop .leftSide .alpL {
    top: 0.35em;
    left: 0.3em;
}

.preview .contentTop .leftSide .alpU {
    left: 0.88em;
    top: 0.22em;
}

.preview .contentTop .leftSide .alpB {
    left: 0.65em;
    top: 0.3em;
}

.preview .contentTop .leftSide .alpO {
    left: 0.39em;
    top: 0em;
    z-index: 0;
    font-weight: 600;
    color: #950002;
}

.preview .contentTop .leftSide .alpV {
    left: 0.15em;
    top: -0.1em;
}

.preview .contentTop .leftSide .alpb {
    left: 0.7em;
    top: -0.3em;
}

.preview .contentTop .rightSide {
    display: flex;
    padding-left: 13em;
    padding-top: 2em;
    gap: 3em;
}

.preview .contentTop .rightSide p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: 500;
    line-height: 1.2;
}

.preview .contentTop .rightSide img {
    width: 11em;
    height: fit-content;
}

.preview .contentData {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    text-align: center;
    font-size: 1.7em;
    font-weight: 500;
    padding-bottom: 1em;
    background-color: #FFFFFF4D; 
}

.dearGuests {
    background-color: #FFFFFF;
    width: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
}

.dearGuests h1 {
    font-size: 3em;
    font-weight: 500;
    line-height: 4em;
}

.dearGuests img {
    width: 35em;
}

.calendary img {
    width: 44em;
}

.sibAerocraft p {
    text-align: center;
    padding: 2em 0 0;
    font-size: 1.3em;
}

.sibAerocraft div {
    height: 10em;
    text-align: center;
}

.sibAerocraft img {
    width: 35em;
    position: relative;
    top: -8em;
}

.timing {
    padding-top: 3em;
}

.timing h1 {
    width: fit-content;
    margin-left: 9em;
    font-size: 2em;
    color: #950002;
}

.timing .timetable {
    display: flex;
    flex-direction: column;
}

.timing .timetable h3 {
    font-weight: 600;
    font-size: 2em;
}

.timing .timetable p {
    font-size: 1.1em;
}

.timing .timetable img {
    width: 1.5em;
    margin: 1em 0 0 2em;

}

.wishes {
    padding-top: 3em;
    width: 100%;
}

.wishes h1 {
    font-style: italic;
    font-weight: 400;
    font-size: 4em;
    color: #950002;
    text-align: center;
}

.wishes .firstSide {
    background-image: url('../img/wishesFirstSide.svg');
    background-size: cover;
    height: 11.9em;
    width: 24.2em;
    text-align: center;
    padding-left: 1em;
    align-content: center;
    margin-left: 4em;
    margin-top: 2em;
}

.wishes .strong {
    font-weight: 900;
    color: #950002;
    font-size: 1.2em;
}

.wishes .firstSide .strong {
    display: block;
    text-align: left;
    padding-left: 3.3em;
}

.wishes div p {
    line-height: 1.8;
}

.wishes .firstSide p {
    display: inline-block;
    text-align: left;
    width: fit-content;
}

.wishes .secondSide {
    margin-right: 3em;
    text-align: right;
    background-image: url('../img/wishesSecondSide.svg');
    background-size: cover;
    width: 19em;
    padding-top: 1.3em;
    padding-right: 1em;
    height: 12em;
    margin-left: 25em;
}

.wishes .thirdSide {
    background-image: url('../img/wishesThirdSide.svg');
    background-size: cover;
    width: 24.1em;
    text-align: center;
    height: 12.5em;
    align-content: center;
    margin-left: 13em;
    margin-top: 3em;
}

.wishes .thirdSide .strong {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    padding-left: 5em;
    position: relative;
    top: -1.7em;
}

.dressCode {
    padding-top: 3em;
    width: 100%;
}

.dressCode h2 {
    color: #950002;
    font-family: unset;
    font-family: "Arizonia", cursive;
    font-weight: 400;
    line-height: 1;
}

.dressCode .dress {
    font-size: 4.2em;
    margin-left: 4.5em;
}

.dressCode h3 {
    font-weight: 200;
    font-size: 3em;
    margin-left: 8.9em;
    line-height: 1;
    position: relative;
    top: -0.4em;
}

.dressCode .colorsPalette {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-top: 1em;
}

.dressCode .colorsPalette .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dressCode .colorsPalette .item .color {
    width: 6em;
    height: 2em;
    filter: drop-shadow(0 0 0.1em #000000);
    border-radius: 0.2em;
}

.dressCode .colorsPalette .item .color.black {
    background-color: #000000;
}

.dressCode .colorsPalette .item .color.white {
    background-color: #ffffff;
}

.dressCode .colorsPalette .item .color.gold {
    background-image: url('../img/goldColor.png');
    background-position: center center;
    background-size: cover;
}

.dressCode .colorsPalette .item .color.skin {
    background-color: #F9FFCE;
}

.dressCode .ladies, .dressCode .gentlemen {
    font-size: 3em;
    margin-top: 1.4em;
    margin-left: 4.3em;
}

.dressCode .description {
    margin-left: 10em;
    margin-top: 0.6em;
    line-height: 1.5;
    font-size: 1.1em;
}

.dressCode img {
    margin-top: 2em;
    vertical-align: top;
}

.dressCode .firstMagazine {
    width: 14em;
    margin-left: 12em;
}

.dressCode .secondMagazine {
    width: 14em;
    margin-left: 0.7em;
    margin-top: 13em;
}

.dressCode .thirdMagazine {
    margin: 2em;
    margin-left: 18em;
    width: 17em;
    border-radius: 1em;
}

.attention {
    width: 100%;
    text-align: center;
}

.attention img, .guestProfile img {
    width: 30em;
}

.chatGuests {
    width: 100%;
    padding-top: 3em;
    text-align: center;
}

.chatGuests .image {
    background-image: url('../img/backChatGuests.png');
    height: 20em;
    width: 100%;
    background-size: cover;
}

.chatGuests h1 {
    color: #950002;
    margin-top: 0.5em;
    font-size: 4em;
    font-weight: 600;
    text-transform: uppercase;
}

.chatGuests p {
    line-height: 1.5;
    font-size: 1.3em;
    margin-top: 0.4em;
    margin-bottom: 2em;
}

.chatGuests .button {
    text-decoration: none;
    color: white;
    background-color: #950002;
    padding: 0.8em 1.5em 0.8em 1.3em;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #950002;
    transition: 0.5s;
}

.chatGuests .button:hover {
    color: #950002;
    background-color: #FFFFFF;
}

.guestProfile {
    padding-top: 5em;
    text-align: center;
}

.guestProfile h1 {
    font-size: 3em;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    color: #950002;
}

.guestProfile p {
    margin-top: 1em;
    font-size: 1.2em;
    line-height: 1.5;
}

.contact {
    width: 100%;
    padding-bottom: 5em;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
}

.contact img {
    width: 3em;
    position: relative;
    left: 11.5em;
    top: 2.5em;
}

.contact div {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    padding: 1em 2em;
    border: 0.2em solid #950002;
}

.contact div h1 {
    font-style: italic;
    font-size: 3em;
    font-weight: 400;
}

.contact div p {
    line-height: 1.8;
}

.contact div p strong {
    color: #950002;
}

.preview .imageRela {
    position: relative;
    top: -10em;
}

.preview.last .imgPreview {
    background-image: url('../img/lastImage.png');
}

.preview.last .contentTop {
    flex-direction: column;
    padding-top: 5em;
    padding-left: 4em;
}

.preview.last .contentTop h1 {
    font-size: 6em;
    font-weight: 400;
    line-height: 1;
}

.preview.last .contentTop h1 strong {
    font-weight: 400;
    color: #950002;
}

.preview.last .contentTop p {
    text-align: right;
    font-size: 2.2em;
    margin-right: 5em;
}

.preview.last .contentData {
    padding-bottom: 3em;
    font-size: 1.3em;

}

.preview.last .contentData p {
    margin: 0;
    padding: 0;
    text-align: right;
    font-weight: 500;
    font-size: 1.1em;
}

.preview.last .contentData .eugen {
    margin-right: 5em;
}

.preview.last .contentData .ksenia {
    margin-right: 2.5em;
}

footer {
    /* padding: 5em 0; */
    flex: 0 0 auto;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}